@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: green;
}
.card {
  background: white;
  width: 250px;
  height: 400px;
}
.heart,
.diamond {
  color: red;
}

.spade,
.club {
  color: black;
}

.heart::after,
.heart::before {
  content: "\2665";
}
.card::before {
  position: absolute;
  top: 15px;
  left: 15px;
}

.card::after {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.card::after,
.card::before {
  font-size: 80px;
}
.diamond::after,
.diamond::before {
  content: "\2666";
}

.club::after,
.club::before {
  content: "\2663";
}

.spade::after,
.spade::before {
  content: "\2660";
}
.card {
  position: absolute;
  top: 150px;
}
